Flask==3.0.3
Flask-CORS==4.0.1
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.6.0
pymongo==4.8.0
python-dotenv==1.0.1
PyPDF2==3.0.1
python-docx==1.1.2
pdfplumber==0.11.4
langchain==0.3.0
langchain-community==0.3.0
faiss-cpu==1.8.0
sentence-transformers==3.1.1
requests==2.32.3
werkzeug==3.0.4
uuid==1.30